/* defaults */

    /* fonts */

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Black.ttf');
    font-weight: 900;
    font-display: swap;
  }

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-display: swap;
  }

@font-face {
  font-family: Roboto;
  src: url('/fonts/Roboto-Medium.ttf');
  font-weight: medium;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url('/fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url('/fonts/Roboto-Thin.ttf');
  font-weight: 300;
}

@font-face {
  font-family: SairaSemiCondensed;
  src: url('/fonts/SairaSemiCondensed-Medium.ttf');
  font-weight: medium;
  font-display: swap;
}

@font-face {
  font-family: SairaSemiCondensed;
  src: url('/fonts/SairaSemiCondensed-Regular.ttf');
  font-weight: regular;
  font-display: swap;
}


/* global */

:root {
  --primary-color: #2A2A2A;
  --secondary-color: #9B9B9B;
  --dark-color: #000000;
  --light-color: #f4f4f4;
  --success-color: #00A96D;
  --error-color: #EA3A9E;
  --highlight-color: #00889B;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-family: 'Roboto', sans-serif;
    width: 100%;
  }

.container {
  padding-left: 75px;
}
  
 /* top section */

#header-top {
  height: 180px;
  animation: fadein-head 1s;

}

#title-web {
  /*border: #00889B; 
  border-style: solid;*/
  font-weight: 900;
  font-size: 125px;
  letter-spacing: -6px;
  margin-left: 125px;
  flex-shrink: 1;
}

#title-dev {
  /*border: #00889B; 
  border-style: solid;*/
  font-weight: bold;
  font-size: 125px;
  margin-right: auto;
  flex-shrink: 2;
}

#title-blue {
  /*border: #00889B; 
  border-style: solid;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 85px;
  letter-spacing: 10px;
  margin-left: 140px;
  margin-top: -50px;
  animation: fadein-head 1s;
}

#page {
  display: flex;
  padding-top: 20px;
}

.pill-hover-l {
  position: relative;
}

.pill-hover-l::before {
  content: '';
  background-color: var(--highlight-color);
  position: absolute;
  border-radius: 50px;
  left: -78px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  z-index: -1;
  transition: all .3s ease-in-out;
  box-shadow: 0 0 15px 5px #00000033;
}

.pill-hover-l:hover::before {
  width: 80px;
  height: 80px;
  bottom: 12px;
  left: -92px;
  box-shadow: 0 0 15px 5px #0000006c;
  
}

.dot {
	text-decoration: none;

}

.dot::before {
  position: relative;
  content: '';
  background-color: var(--highlight-color);
  position: absolute;
  border-radius: 50px; 
  width: 17px;
  height: 17px;
  left: 77px;
  margin-top: 15px;
  z-index: -1;
  transition: all .3s ease-in-out;
  box-shadow: 0 0 15px 5px #0000007c;
  opacity: 0;
}

.dot:hover::before {
  opacity: 1;
  z-index: 1;
}


/* body-start */

#main-side {
  color: var(--light-color);
  font-family: 'SairaSemiCondensed', sans-serif;
  font-size: 26px;
  width: 20px;
  margin-left: 80px;
}

#main-text  {
  flex: 1 1 auto;
  color: var(--light-color);
  font-family: 'SairaSemiCondensed', sans-serif;
  font-size: 26px;
  letter-spacing: 4px;
}

#name {
  color: var(--highlight-color);
  transition: all .5s ease-in-out;
  padding-left: 8x;
  display: inline-block;
}

#name:hover {
  color: var(--light-color);
  transform: scale(1.05, 1.05);
  text-shadow:
    -0.4px -0.4px 1px var(--light-color),
    0.4px -0.4px 1px var(--light-color),
    -0.4px 0.4px 1px var(--light-color),
    0.4px 0.4px 1px var(--light-color);
}

#name:visited, #name:focus, #name:active {
  text-decoration:none;
}

#contact {
  color: var(--highlight-color);
  transition: all .5s ease-in-out;
  display: inline-block;
}

#contact:hover {
  color: var(--light-color);
  transform: scale(1.05, 1.05);
  text-shadow:
    -0.4px -0.4px 1px var(--light-color),
    0.4px -0.4px 1px var(--light-color),
    -0.4px 0.4px 1px var(--light-color),
    0.4px 0.4px 1px var(--light-color);
}

#contact:visited, #contact:focus, #contact:active {
  text-decoration:none;
}

/* padding fixes */

#side-a {
  padding-bottom: 30px;
  animation: fadein 1s;
}

#side-b {
  padding-bottom: 30px;
  animation: fadein 4.2s;
}

#side-c {
  padding-bottom: 30px;
  animation: fadein 7.8s;
}


#side-pad-b {
  padding-bottom: 30px;
  padding-left: 45px;
  white-space: nowrap;
}

#me {
  padding-left: 120px;
}

/* effects */

@keyframes fadein {
  from { opacity: 0; }
  85% { opacity: 0;}
  to   { opacity: 1; }
}

@keyframes fadein-head {
  from { opacity: 0; }
  to   { opacity: 1; }
}


/* The typing effect */

.typewriter-a {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  width: 0;
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing-a 2s steps(20, end) forwards,
    caret-a 2s;
  animation-delay: 1.2s;
}

@keyframes typing-a {
  from { width: 0 }
  to { width: 220px; }
}

@keyframes caret-a {
  from { border-color: transparent }
  1% { border-color: white }
  95% { border-color: white}
  to { border-color: transparent }
}

.typewriter-b {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  width: 0;
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing-b 2.5s steps(30, end) forwards,
    caret-b 2.5s;
  animation-delay: 4s;
}

@keyframes typing-b {
  from { width: 0 }
  to { width: 370px; }
}

@keyframes caret-b {
  from { border-color: transparent }
  1% { border-color: white }
  97% { border-color: white}
  to { border-color: transparent }
}

.typewriter-c {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  width: 0;
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing-c 2s steps(20, end) forwards,
    caret-c 1s infinite;
  animation-delay: 7.5s;
}

@keyframes typing-c {
  from { width: 0 }
  to { width: 240px; }
}

@keyframes caret-c {
  from { border-color: transparent }
  50% { border-color: white }
  to { border-color: transparent }
}

@media screen and (max-width: 1023px) {
  #title-web {
    font-size: 100px;
    letter-spacing: -5px;
  }

  #title-dev {
    font-size: 100px;
  }

  #title-blue {
    font-size: 70px;
    margin-top: -80px;
    margin-left: 137px;
  }

  .pill-hover-l::before {
    bottom: 17px;
  }

  .pill-hover-l:hover::before {
    width: 70px;
    height: 70px;
    bottom: 12px;
    left: -90px;
  }
}

@media screen and (max-width: 666px) {
  #title-web {
    font-size: 60px;
    margin-left: 20%;
    letter-spacing: -3px;
  }

  #title-dev {
    font-size: 60px;

  }

  #title-blue {
    font-size: 30px;
    letter-spacing: 4px;
    margin-top: -120px;
    margin-left: 50px;
  }

  .pill-hover-l::before {
    bottom: 8px;
    left: -30px;
    width: 20px;
    height: 20px;
  }

  .pill-hover-l:hover::before {
    bottom: 7px;
    left: -32px;
    width: 25px;
    height: 25px;
  }

  #main-side {
    margin-top: -10px;
    font-size: 12px;
    width: 20px;
    margin-left: 25px;
  }

  #side-a {
    padding-bottom: 25px;
  }
  
  #side-b {
    padding-bottom: 25px;
  }
  
  #side-c {
    padding-bottom: 25px;
  }

  #side-pad-b {
    padding-bottom: 25px;
    font-size: 12px;
    padding-left: 7px;
    white-space: nowrap;
  }

  #main-text {
    margin-top: -10px;
  }

  .dot::before {
    border-radius: 50px; 
    width: 8px;
    height: 8px;
    left: 23px;
    margin-top: 6px;
  }

  @keyframes typing-a {
    from { width: 0 }
    to { width: 130px; }
  }

  @keyframes typing-b {
    from { width: 0 }
    to { width: 210px; }
  }

  @keyframes typing-c {
    from { width: 0 }
    to { width: 142px; }
  }
}

