/* defaults */

    /* fonts */

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Black.ttf');
    font-weight: 900;
  }

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Bold.ttf');
    font-weight: bold;
  }

@font-face {
  font-family: Roboto;
  src: url('/fonts/Roboto-Medium.ttf');
  font-weight: medium;
}

@font-face {
  font-family: Roboto;
  src: url('/fonts/Roboto-Regular.ttf');
  font-weight: regular;
}

@font-face {
  font-family: Roboto;
  src: url('/fonts/Roboto-Light.ttf');
  font-weight: light;
}

@font-face {
  font-family: SairaSemiCondensed;
  src: url('/fonts/SairaSemiCondensed-Medium.ttf');
  font-weight: medium;
}

@font-face {
  font-family: SairaSemiCondensed;
  src: url('/fonts/SairaSemiCondensed-Regular.ttf');
  font-weight: regular;
}


/* global */

:root {
  --primary-color: #2A2A2A;
  --secondary-color: #9B9B9B;
  --dark-color: #000000;
  --light-color: #f4f4f4;
  --success-color: #00A96D;
  --error-color: #EA3A9E;
  --highlight-color: #00889B;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-family: 'Roboto', sans-serif;
  }

.container {
  padding-left: 75px;
}
  
 /* top section */

#header-top {
  height: 180px;
}

#title-web {
  /* border: #00889B; 
  border-style: solid; */
  font-weight: 900;
  font-size: 125px;
  letter-spacing: -6px;
  margin-left: 125px;
  padding-top: 10px;
}

#title-dev {
  /* border: #00889B; 
  border-style: solid; */
  font-weight: bold;
  font-size: 125px;
  padding-right: 300px;
}

#title-blue {
  /* border: #00889B; 
  border-style: solid; */
  font-weight: regular;
  font-size: 85px;
  letter-spacing: 10px;
  margin-left: 140px;
  margin-top: -20px;

}

.pill-hover-l {
	text-decoration: none;
  position: relative;
}

.pill-hover-l::before {
  content: '';
  background-color: var(--highlight-color);
  position: absolute;
  border-radius: 50px;
  left: -78px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  z-index: -1;
  transition: all .3s ease-in-out;
  box-shadow: 0 0 15px 5px #00000033;
}

.pill-hover-l:hover::before {
  width: 80px;
  height: 80px;
  bottom: 12px;
  left: -92px;
  box-shadow: 0 0 15px 5px #0000006c;
  
}

.dot {
	text-decoration: none;

}

.dot::before {
  position: relative;
  content: '';
  background-color: var(--highlight-color);
  position: absolute;
  border-radius: 50px; 
  width: 17px;
  height: 17px;
  left: 77px;
  margin-top: 12px;
  z-index: -1;
  transition: all .3s ease-in-out;
  box-shadow: 0 0 15px 5px #0000005f;
  opacity: 0;
}

.dot:hover::before {
  opacity: 1;
  z-index: 1;
}


/* body-start */

#main-side {
  color: var(--light-color);
  font-family: 'SairaSemiCondensed', sans-serif;
  font-size: 26px;
  width: 20px;
  margin-left: 80px;
}

#main-text  {
  flex: 1 1 auto;
  color: var(--light-color);
  font-family: 'SairaSemiCondensed', sans-serif;
  font-size: 26px;
  letter-spacing: 4px;
}

#page {
  display: flex;
  padding-top: 10px;
}

#name {
  color: var(--highlight-color);
  transition: all .5s ease-in-out;
  padding-left: 8x;
  display: inline-block;
}

#name:hover {
  color: var(--light-color);
  transform: scale(1.03, 1.03);
  text-shadow:
    -0.4px -0.4px 1px var(--light-color),
    0.4px -0.4px 1px var(--light-color),
    -0.4px 0.4px 1px var(--light-color),
    0.4px 0.4px 1px var(--light-color);
}

#name:visited, #name:focus, #name:active {
  text-decoration:none;
}

#contact {
  color: var(--highlight-color);
  transition: all .5s ease-in-out;
  display: inline-block;
}

#contact:hover {
  color: var(--light-color);
  transform: scale(1.02, 1.02);
  text-shadow:
    -0.4px -0.4px 1px var(--light-color),
    0.4px -0.4px 1px var(--light-color),
    -0.4px 0.4px 1px var(--light-color),
    0.4px 0.4px 1px var(--light-color);
}

#contact:visited, #contact:focus, #contact:active {
  text-decoration:none;
}

/* padding fixes */

#side-pad-a {
  padding-bottom: 30px;
}

#side-pad-b {
  padding-bottom: 30px;
  padding-left: 45px;
  white-space: nowrap;
}

#me {
  padding-left: 120px;
}

/* effects */

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 2s steps(20, end),
    caret 2s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 200px; }
}

/* The typewriter cursor effect */
@keyframes caret {
  from { border-color: transparent }
  1% { border-color: white }
  90% { border-color: white}
  to { border-color: transparent }
}